
@model SmartShop.Models.Item
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section title{  تعديل صنف }
<div class="col-10">
    <div class="container">
        @using (Html.BeginForm("Edit", "Items", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form">
                <div class="formTitle">
                    <h4>
                        <i class="fa-solid fa-circle-plus"></i>
                        تعديل صنف
                    </h4>
                </div>


                <div class="row">
                    <div class="col-6">
                        <h6>اسم الصنف </h6>
                        @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control text-center", type = "text", required = "required" } })

                        <h6>فئة الصنف </h6>
                        @Html.DropDownList("CatId", new SelectList(ViewBag.Categories, "Id", "CatName"), "--اختر--", new { @class = "form-select text-center", required = "required" })

                        <h6>سعر الشراء </h6>
                        @Html.EditorFor(model => model.PricePur, new { htmlAttributes = new { @class = "form-control text-center", type = "number", value = "0", min = "1", required = "required" } })

                        <h6>رصيد اول المدة  </h6>
                        @Html.EditorFor(model => model.FirstBalance, new { htmlAttributes = new { @class = "form-control text-center", type = "number", value = "0", min = "1" } })

                        <h6>الوصف </h6>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control text-center", type = "text" , cols = "30" ,rows = "4" })

                    </div>


                    <div class="col-6">
                        <h6>الباركود </h6>
                        @Html.EditorFor(model => model.Barcode, new { htmlAttributes = new { @class = "form-control text-center", type = "text" } })

                        <h6>بلد المنشا </h6>
                        @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control text-center", type = "text" } })

                        <h6>سعر البيع </h6>
                        @Html.EditorFor(model => model.PriceSell, new { htmlAttributes = new { @class = "form-control text-center", type = "number", value = "0", min = "1", required = "required" } })

                        <h6>سعر شراء رصيد اول المدة    </h6>
                        @Html.EditorFor(model => model.FirstBalancePrice, new { htmlAttributes = new { @class = "form-control text-center", type = "number", value = "0" } })

                        <h6>صورة الصنف </h6>

                        <div class="img drop-zone" id="basic_drop_zone">
                            <label for="basic">
                                <img src="/images/Group 10449.png" alt="">
                                <p class="imgoutput"><img id="output" src="/Items/RetrieveImage/@Model.Id"/></p>
                                <input class="drop-zone__input" id="basic" name="Img1" type="file" accept=".png,.jpg,.jpeg,.gif" title=" upload image " onchange="loadFile(event)">
                            </label>
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary" type="submit">تعديل</button>
            </div>
        }
    </div>
</div>




