<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/all.min.css" rel="stylesheet" />
    <link href="~/Assets/css/style.css" rel="stylesheet" />
    <title>@RenderSection("title", false)</title>
    @*<link href="/Admin/RetrieveLogo" rel="icon">*@


</head>
<body dir="rtl">
       <nav class="d-flex justify-content-between">
           <div class="logo">
               <img src="~/Assets/images/mbs-high-resolution-logo-color-on-transparent-background (2) 1.png" />
           </div>

           <a class="btn billbtn" href="/StoreBills/Index"> فواتير المخزن</a>

        <div class="user d-flex">
        <h3>@ViewBag.username </h3>
        <a href="/Admin/Logout"> <i class="fa-solid fa-right-from-bracket mt-3"></i></a>
        </div>

    </nav>
<div class="row">
    <div class="col-2">

        <div class="list d-flex flex-column">

            <div class="showNav  ms-4 d-flex justify-content-end">
                <img src="~/Assets/images/Vector (18).png" />
            </div>

            
            <div class="one">

                <div class="dropdown ">

                <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="rightblue"></span>
                    <div class=" d-inline-block">
                    <i class="fa-solid fa-file-invoice"></i>
                    <p>الفواتير</p>
                    <i class= "arrow fa-solid fa-angles-left"></i>
                    </div>
                    <span class="leftblue"></span>
                    </a>
                            <ul class=" dropdown-menu ">
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "s")
                                                {
                                                    <li><a class="dropdown-item" href="/Sales/Add">فواتير البيع</a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "sre")
                                                {
                                                    <li><a class="dropdown-item" href="/SalesRe/Add"> فواتير مرتجع مبيعات</a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "pur")
                                                {
                                                    <li><a class="dropdown-item" href="/Purchase/Add">فواتير مشتريات </a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "purre")
                                                {
                                                    <li><a class="dropdown-item" href="/PurchaseRe/Add">فواتير مرتجع مشتريات </a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "editbills")
                                                {
                                                    <li><a class="dropdown-item" href="/ShowBills/Index">عرض و تعديل الفواتير</a></li>
                                                }
                                            }
                                        
                            </ul>
                </div>
            </div>

            <div class="one">

                <div class="dropdown ">
                
                <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="rightblue"></span>
        
                    <div class=" d-inline-block">
                    <i class="fa-solid fa-file-invoice"></i>

                    <p> المصروفات</p>
                    <i class= "arrow fa-solid fa-angles-left"></i>
                    </div>
                    
                    <span class="leftblue"></span>
        
                    </a>
        

                
                
                <ul class=" dropdown-menu ">
                    @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "ex")
                                                {
                                                    <li><a class="dropdown-item" href="/Expencess/Add"> تسجيل مصروفات</a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "editex")
                                                {
                                                    <li><a class="dropdown-item" href="/Expencess/ShowExpencess">عرض و تعديل المصروفات</a></li>
                                                }
                                            }
                </ul>
                </div>
            </div>

            <div class="one">

                <div class="dropdown ">
                
                <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="rightblue"></span>
        
                    <div class=" d-inline-block">
                    <i class="fa-solid fa-person"></i>
                    <p>الموظفين</p>
                    <i class= "arrow fa-solid fa-angles-left"></i>
                    </div>
                    
                    <span class="leftblue"></span>
        
                    </a>

                
                
                <ul class=" dropdown-menu ">
                    
                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "addemp")
                                                {
                                                    <li><a class="dropdown-item" href="/Employees/Add"> اضافة الموظف</a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "editemp")
                                                {
                                                    <li><a class="dropdown-item" href="/Employees/ShowEmployees"> عرض و تعديل الموظفين</a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "perm")
                                                {
                                                    <li><a class="dropdown-item" href="/Users/Add"> الصلاحيات </a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "editperm")
                                                {
                                                    <li><a class="dropdown-item" href="/Users/ShowUsers"> عرض و تعديل الصلاحيات </a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "withdraw")
                                                {
                                                    <li><a class="dropdown-item" href="/EmployeeWithdraw/Add">   المسحوبات</a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "editwithdraw")
                                                {
                                                    <li><a class="dropdown-item" href="/EmployeeWithdraw/ShowWithdraws">   عرض و تعديل المسحوبات</a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "salarydis")
                                                {
                                                    <li><a class="dropdown-item" href="/Employees/EmployeeDiscount">   خصومات الموظفين</a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "Editsalarydis")
                                                {
                                                    <li><a class="dropdown-item" href="/Employees/ShowDiscounts">   عرض و تعديل خصومات</a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "paysalary")
                                                {
                                                    <li><a class="dropdown-item" href="/pay-salerys.html">تسديد الرواتب</a></li>
                                                }
                                            }
                </ul>
                </div>
            </div>
            
            <div class="one">

                <div class="dropdown  ">
                
                <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="rightblue"></span>
        
                    <div class=" d-inline-block">
                    <i class="fa-solid fa-file-invoice-dollar"></i>
                    <p>الحسابات</p>
                    <i class= "arrow fa-solid fa-angles-left"></i>
                    </div>
                    
                    <span class="leftblue"></span>
        
                    </a>

                
                
                    <ul class=" dropdown-menu ">
                
                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "addacc")
                                                {
                                                    <li><a class="dropdown-item" href="/Accounts/Add">تسجيل حساب جديد</a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "editacc")
                                                {
                                                    <li><a class="dropdown-item" href="/Accounts/ShowAccounts"> عرض و تعديل الحسابات</a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "paysup")
                                                {
                                                    <li><a class="dropdown-item" href="/Payments/PaymentSupplier"> سداد مورد  </a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "paycus")
                                                {
                                                    <li><a class="dropdown-item" href="/Payments/PaymentCustomer"> تحصيل عميل   </a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "accstatment")
                                                {
                                                    <li><a class="dropdown-item" href="/Payments/AccountStatment"> كشف حساب </a></li>
                                                }
                                            }

                    </ul>
                </div>
            </div>

            <div class="one">

                <div class="dropdown ">
                
                <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="rightblue"></span>

                <div class=" d-inline-block">
                    <i class="fa-solid fa-sitemap"></i>
                    <p>
                    الاصناف

                    </p>
                    <i class= "arrow fa-solid fa-angles-left"></i>
                </div>
                
                    <span class="leftblue"></span>

                </a>

                
                
                <ul class=" dropdown-menu ">
                    @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "cat")
                                                {
                                                    <li><a class="dropdown-item" href="/categories/Add">أنشاء فئة</a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "additem")
                                                {
                                                    <li><a class="dropdown-item" href="/Items/Add"> اضافة صنف</a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "edititem")
                                                {
                                                    <li><a class="dropdown-item" href="/Items/ShowItems"> عرض و تعديل الاصناف</a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "addstore")
                                                {
                                                    <li><a class="dropdown-item" href="/Stores/Add">انشاء مخزن</a></li>
                                                }
                                            }
                </ul>
                </div>
            </div>

            
            <div class="one">

                <div class="dropdown ">
                
                <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="rightblue"></span>
        
                    <div class=" d-inline-block">
                    <i class="fa-solid fa-money-bill-transfer"></i>
                    <p>  التحويلات</p>
                    <i class= "arrow fa-solid fa-angles-left"></i>
                    </div>
                    
                    <span class="leftblue"></span>
        
                    </a>

                
                
                <ul class=" dropdown-menu ">
                @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "trans")
                                                {
                                                    <li><a class="dropdown-item" href="/StoreTransfers/Add">التحويلات</a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "edittrans")
                                                {
                                                    <li><a class="dropdown-item" href="/StoreTransfers/StoresTransfers">عرض و نعديل التحويلات</a></li>
                                                }
                                            }
                </ul>
                </div>
            </div>

            
            <div class="one">

                <div class="dropdown  " >
                

                
                <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="rightblue"></span>
        
                    <div class=" d-inline-block">
                    <i class="fa-solid fa-receipt"></i>
                    <p> التقارير</p>
                    <i class= "arrow fa-solid fa-angles-left"></i>
                    </div>
                    
                    <span class="leftblue"></span>
        
                    </a>

                <ul class=" dropdown-menu lastinList" >
                
                @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "drep")
                                                {
                                                    <li><a class="dropdown-item" href="/Reports/DailyReport">تقرير يومية</a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "mrep")
                                                {
                                                    <li><a class="dropdown-item" href="/Reports/MonthReport"> تقرير شهرية </a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "balancerep")
                                                {
                                                    <li><a class="dropdown-item" href="/Reports/BalanceReport"> تقرير ارصدة الاصناف </a></li>
                                                }
                                            }
                                            @foreach (var item1 in ViewBag.userscreens)
                                            {
                                                if (item1 == "yrep")
                                                {
                                                    <li><a class="dropdown-item" href="/Reports/YearReport"> تقرير سنوي </a></li>
                                                }
                                            }

                </ul>
                </div>
            </div>
        </div>

    </div>




        @RenderBody()

    </div>




    @{
        var p = "@popperjs";
    }

<script src="https://cdn.jsdelivr.net/npm/@p/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="~/Assets/js/jquery-3.5.1.js"></script>
    <script src="~/Assets/js/all.min.js"></script>
    <script src="~/Assets/js/main.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <!-- Footer Scripts
    ============================================= -->
    @RenderSection("scripts", required: false)

</body>

</html>
